:root {
    --dust-gray: #dad7cd;
    --dry-sage: #A3B18A;
    --fern: #588157;
    --hunter-green: #3A5A40;
    --pine-teal: #344E41;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
    background-color: var(--dust-gray);
}

header {
    height: 15vh;
    background-color: var(--dry-sage);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.logo-text {
    color: var(--pine-teal);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 3.8rem;
    font-weight: 600;
}

.btn-section {
    display:flex;
    gap: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
    height: 3.7rem;
}

.button {
    width: 16rem;
    height: 100%;
    background-color: var(--dry-sage);
    border: 1px solid var(--pine-teal);
    font-size: 17px;
    transition: 0.5s;
    font-weight: bold;
}

.button:hover {
    background-color: var(--fern);
}

#today-btn {
    border-right: 0px;
    border-radius: 15px 0px 0px 15px; 
}

#overdue-btn {
    border-left: 0px;
    border-radius: 0px 15px 15px 0px;
    height: 100%;
}

.sort-wrapper {
    height: 100%;
}

.display-header {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    display: flex;
    height: 2.8rem;
    margin-top: 3rem;
}

.display-header > h2 {
    color: var(--pine-teal);
}

.display {
    width: 100%;
}

.btn-new-section {
    margin-left: auto;
    display: flex;
    gap: 1rem;
    justify-content: right;
}

.btn-new-section > button {
    border-radius: 15px;
}

.task-container {
    background-color: gainsboro;
    margin-top: 1rem;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 5.5rem;
    
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.5s ease, color 0.5s ease;
    transition: transform 0.5s ease;
    border-radius: 15px;
    overflow: hidden;

    display: flex;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    justify-content: space-around;
}

.task-container.completed {
    background-color: #B8C4D1;
    filter: grayscale(50%);
}

.task-container.today-task {
    border: 2px solid var(--pine-teal);
}

.task-container.overdue-task {
    border: 2px solid red;
}

.notes-section {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    height: 3rem;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    background-color: gainsboro;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.due-date {
    display: flex;
    width: 8rem;
    justify-content: center;
    font-size: 0.9rem;
}

.task-description {
    font-size: 0.9rem;
    width: 30%;
    overflow-x: hidden;
}

.task-container > h2 {
    font-size: 1.2rem;
    width: 15%;
}

.task-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.done-btn {
    background-color: var(--dry-sage);
    margin-left: auto;
    width: 4rem;
    height: 50%;
    border-radius: 15px;
    border: 0px;
    font-size: 24px;
    transition: 0.5s;
    justify-self: right;
}

.done-btn:hover {
    background-color: var(--hunter-green);
}

.delete-task-btn {
    background-color: #FF746C;
}

.delete-task-btn:hover {
    background-color: red;
}

.btn-wrapper {
    height: 100%;
    display: flex;
    margin-left: auto;
    gap: 1rem;
    align-items: center;
}

.hidden {
    display: none !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.overlay-content {
    background-color: var(--dust-gray);
    padding: 2rem;
    font-size: 18px;
    border-radius: 20px;
}

.overlay-content > h2 {
    margin: 0;
    color: var(--pine-teal);
    padding-bottom: 1rem;
}

.form-group {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.form-group > label {
    letter-spacing: 3px;
    font-size: 0.7rem;
    font-weight: 600;
    padding-left: 0.2rem;
}

.form-group > input, textarea {
    width: 24rem;
    line-height: 1.5;
    font-size: 18px;

    border-radius: 10px;
    border: 0px;
    transition: 0.2s;
}

.form-group > input:focus, textarea:focus {
    outline: none;
    background-color: var(--dry-sage);
    border: 2px solid var(--dry-sage);
}

.form-btn-section {
    display: flex;
}

.form-btn-section > button {
    width: 10rem;
    height: 2.5rem;
    border: 1px solid var(--pine-teal);
    font-size: 17px;
    transition: 0.5s;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.5s;
}

#save-task {
    background-color: var(--dry-sage);
}

#save-task:hover {
    background-color: var(--fern);
}

#cancel-new-task {
    margin-left: auto;
    background-color: #FF746C;
}

#cancel-new-task:hover {
    background-color: red;
}

.completed-heading {
    color: var(--pine-teal);
    margin-left: 10%;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  display: none; 
}

.error-message.visible {
  display: block; 
}